@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

button {
  margin-left: 2px;
  border-width: 8px;
  border-radius: 5px;
}

.Col1, .Col2, .Col3{
  width: 100px;
  height: 100px;
  font-size: 80px;
  margin: 4px;
  vertical-align: top;
}

.box div {
  margin-left: 22.5%;
  display: inline-block;
  margin-right: 10%;
}

h1 {
  font-family: 'Bangers';
  text-align: center;
  font-size: 80px;
  margin-bottom: 0em;
  margin-top: 30px;
  line-height: 2em;
}

.X {
  color: #3333ff;
}

.O {
  color: green;
}

.win {
  background-color: #ffff88;
  transition: 1s;
  border-width: 0px;
}

.box {
  background-color: #FF9911;
  width: 600px;
  align: center;
  border-radius: 10px;
  margin: auto;
  padding-bottom: 3em;
  padding-top: 1px;
}

.winOutput {
  margin-left: 27.5%;
  margin-top: 5%;
  list-style: none;
}

li {
  line-height: 2em;
  font-family: 'Bangers';
  font-size: 20px
}

div.markerChangeO, div.markerChangeX {
  font-size: 20px;
  font-family: 'Bangers';
  margin-left: 29%;
}

.markerChangeX button, .markerChangeO button {
  width: 3em;
  height: 2em;
  font-size: 1em;
  background-color: green;
  border-width: thick;
}

.markerChangeX button{
  margin-bottom: 2em;
  background-color: #3333ff;
}

h2 {
  display:inline-block;
  font-size: 40px;
  margin-top: 0px;
  text-align: center;
  font-family: 'Bangers';
  width: 2em;
  border-radius: 30px;
}

.reset {
  margin-left: 39%;
  margin-top: 5%;
  font-size: 20px;
  background-color: #ff7711
}

#scores {
  margin-left: 36%;
  margin-top: 8%;
}

#left {
  margin-left: 65px;
  background-color: #3333ff;
  margin-right: 50px;
}

#right {
  margin-left: 255px;
  background-color: green;
}

#draw {
  margin-left: 3%;
}

#pvp {
  margin-left: 30%;
  font-family: 'Bangers';
  margin-top: 0%;
  margin-bottom: 20px;
  width: 100px;
}

#pve {
  margin-left: 7%;
  font-family: 'Bangers';
  margin-top: 0%;
  margin-bottom: 20px;
  width: 100px;
}
